/* 设置*/
html,body,div,ul,li{
font-size: 13px;
padding:0;
margin:0;
}
ul{
	list-style:none;
}
a{
text-decoration:none;
color:#000;
}
/*轮播*/
#lunbobox {
	width:1200px;
	height:400px;
	position:relative;
	margin:0 auto;
}
.lunbo {
	width:1200px;
	height:400px;
}
.lunbo img {
	width:1200px;
	height:400px;
	position:absolute;
	top:0px;
	left:0px;
}
#lunbobox ul {
	width:600px;
	position:absolute;
	bottom:10px;
	right:0px;
	z-index:5;
}
#lunbobox ul li {
	cursor:pointer;
	width:10px;
	height:4px;
	border:1px solid #cccccc;
	float:left;
	list-style:none;
	background:#cccccc;
	text-align:center;
	margin:0px 5px 0px 0px;
}
#toleft {
	display:none;
	width:30px;
	height:100px;
	font-size:40px;
	line-height:100px;
	text-align:center;
	color:#f4f4f4;
	/*background:#cccccc;
	*/
    /*background:url("../images/toleft.jpg")no-repeat center;
	*/
    position:absolute;
	top:130px;
	left:12px;
	cursor:pointer;
	z-index:99;
	opacity:0.4;
}
#toright {
	display:none;
	width:30px;
	height:100px;
	font-size:40px;
	line-height:100px;
	text-align:center;
	color:#f4f4f4;
	/*background:#cccccc;
	*/
    position:absolute;
	top:130px;
	right:0px;
	cursor:pointer;
	z-index:99;
	opacity:0.4;
}
/*轮播*/

/*导航*/
.clear {
    clear: both;
}
.menus {
    width: 1000px;
    margin: 40px auto;
}
.menus ul {
    width: 1000px;
    border-bottom: 2px solid #009FE9;
    position: relative;
    float: left;
}
.menus li {
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
.menus li:nth-child(2) {
    color: #fff;
}
.menus .bg {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    background: #009FE9;
    z-index: -1;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.tab {
    width: 1000px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 20px;
    font-size: 40px;
    line-height: 500px;
    text-align: center;
    color: #888;
    font-weight: bold;
    display: none;
}
.show {
    display: block;
}
.title {
    text-align: center;
    padding: 20px;
    background: #ccc;
}
/*导航*/


/*底部*/
.bottom{
height:100px;
width:100%;
text-align:center;
line-height:100px;
background-color: #465c71; /* 背景色 */
color: #dde4ec; /* 文字颜色 */
}
/*底部*/

/*右下角固定图片*/
img{border:0px;}
#haoetv{position:fixed!important;position:absolute;right:0;bottom:0;top:expression(offsetParent.scrollTop+offsetParent.clientHeight-150);cursor:pointer;}
#close{position:fixed!important;position:absolute;right:0;bottom:0;top:expression(offsetParent.scrollTop+offsetParent.clientHeight-149);cursor:pointer;}
/*右下角固定图片*/

